

{% extends "templates/shop/base.html" %}

{% block body %}

<section class="hero is-large is-link" style="background-image:url(https://i.pinimg.com/originals/f7/63/9d/f7639d848a735f2f62489f138abdf194.png);">
    <div class="hero-body">
        <p class="title" style="font-family: 'Times New Roman', Times, serif;font-weight: bolder;">
            Vegishop
        </p>
       
    </div>
</section>

<main class="container ">
    <marquee style="font-size: 20px;color: yellowgreen;font-weight: bolder;">Deals of the day -----Discount 50 %     </marquee>
    <h3 class="title mt-5">Items</h3>

    <div class="columns my-6">
        {% for item in items %}
        <div class="column is-one-fifth">
            <a href="{{ item.route }}">
                <div class="card">
                    <div class="card-image">
                        <figure class="card-cover-image">
                            <img src="{{ item.image }}" alt="Cover image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ item.name }}</p>
                                <p class="subtitle is-6">by {{ item.price }}</p>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}