
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
    <script type="text/javascript" src="cart1.js"></script>
    

    {%- block head_script_tags -%} {%- endblock -%}

    <title>Ideenkreise</title>
</head>

<body class="antialiased">
    {% include "templates/shop/navbar.html" %}
    <div>
        {%- block body -%} {%- endblock -%}
    </div><br><br>
    {% include "templates/shop/footer.html" %}
</body>

</html>